@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Great+Vibes&display=swap');

*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}
:root{
    --vermelho: #6f1d1bff;
    --amarelo-queimado: #bb9457ff;
    --marrom-escuro: #432818ff;
    --marom-claro: #99582aff;
    --amarelo-bb: #ffe6a7ff;
    --preto:#000000;
    --branco:#ffffff;
    --fonte-primaria:"Eagle Lake", serif;
    --fonte-secundaria: "Great Vibes", cursive;

}